/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

/* Portfolio */
.portfolio-container {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    overflow: hidden;
    position: relative; /* Positionnement relatif pour le conteneur */
}

.portfolio-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none; /* Masquer par défaut */
    transition: opacity 0.5s ease;
}

.portfolio-container img:first-child {
    display: block; /* Affiche la première image */
    opacity: 1;
}

h1 {
  .silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}
/* Texte superposé en haut */
.text-overlay {
    position: absolute;
    top: 20px; /* Positionner en haut avec un espace */
    left: 12%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster pour le centrage */
    z-index: 10; /* Assurez-vous que le texte est au-dessus */
    text-align: center;
    font-family: "Silkscreen", sans-serif; /* Utiliser la police Impact */
    font-size: 6rem; /* Taille du texte */
    width: 100%; /* Prendre toute la largeur */
    color: #e0e0e0; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la lisibilité */
}


/* Le Header */
.header{
    display: grid; /* pour pouvoir utiliser grid-template-columns */
    grid-template-columns: max-content max-content; /* 2 colonnes de largeur minimale */
    justify-content: space-between; /* pour espacer les éléments */
    align-items: center; /* pour centrer verticalement */
  
    padding:0 24px; 
    position: sticky; /* pour que le header reste en haut de la page */
    top:0; /* pour que le header reste en haut de la page */
    z-index: 999; /* repeindre */
  }
  
  .header h1{
    margin: 6px 0; /* pour éviter les marges par défaut du navigateur */
  }
  .header h1:hover{
    animation: shake 0.5s; /* pour animer le logo en survole */
  }
  
  @keyframes shake {
    0%  { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .header-nav{
    display: grid;
    grid-template-columns: max-content max-content ;
    gap:0 24px ;
  
   
  }
  
  .header-nav a{
    color:white;
    text-decoration: none;
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: larger;
  }
  
  .header-nav a:hover {
    background: linear-gradient(90deg, #000000, #424242, #a9a9a9, #c0c0c0, #f6f6f6, #8a8a8a, #4f4f4f,#000000);
    background-size: 200px; /* pour définir la largeur du dégradé */
    -webkit-background-clip: text; /* pour que le dégradé soit visible dans le texte */
    background-clip: text; /* pour que le dégradé soit visible dans le texte */
    color: transparent; /* pour que le texte soit transparent */
    animation: rainbow 1s linear infinite; /* pour animer le dégradé */
  }
  
  @keyframes rainbow {
    0% { background-position:  0 0; }
    100% { background-position: 200px 0; }
  }



/* Grille de Mosaïque des Projets */
.mosaic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Minimum 200px par colonne */
    gap: 10px; /* Espacement entre les cases */
  }
  
  .mosaic-grid a {
    display: block; /* Transforme les liens en blocs pour occuper toute la case */
  }
  
  .mosaic-grid img {
    width: 100%; /* Images remplissent la largeur de leur case */
    aspect-ratio: 2 / 3; /* Ajuste la hauteur/largeur des cases */
    object-fit: cover; /* Recadre l'image pour qu'elle remplisse la case */
    border-radius: 5px; /* Facultatif, pour de l'esthétique */
    transition: transform 0.2s ease; /* Ajout d'une transition fluide pour l'effet hover */
  }
  
  .mosaic-grid a:hover img {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
  }

  /*ajout pour page a propos*/

  /* Conteneur principal de la section "À propos" */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #1a1a1a;
  color: #e0e0e0;
  gap: 20px;
}

/* Image de présentation */
.about-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

/* Texte de présentation */
.about-text {
  max-width: 600px;
  text-align: center;
}

.about-text h2 {
  font-family: "Silkscreen", sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}
